$default-font-size: 16px;
$input-font-size: 20px;

$body-bg-color: gray;
$calculator-bg-color: rgb(32, 33, 36);
$main-text-color: rgb(223, 234, 237);
$digit-buttons-bg-color: rgb(60, 64, 67);
$non-digit-buttons-bg-color: rgb(95, 99, 104);
$other-buttons-bg-color: rgb(67, 85, 107);

$digit-buttons-bg-color-hover: rgb(78, 82, 86);
$non-digit-buttons-bg-color-hover: rgb(127, 132, 138);
$other-buttons-bg-color-hover: rgb(92, 116, 145);

$number-of-columns: 3;

$default-gap: 5px;

$buttons-height: 40px;
